body {
	background-image: url(../images/bone_large.jpg);
    background-size: 50px; 
	animation: moveBg 5s linear infinite;
	justify-content: center;
	margin: 0;
}

/*Usei como referencia: https://developer.mozilla.org/pt-BR/docs/Web/CSS/@keyframes */
@keyframes moveBg {
	from {
		background-position: center ;
	}   
	to {
		background-position: top 200px right 100px;
	}
}

.firstScreen{
	width: 100%;
	height:100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.firstScreen img{
	max-width: 600px;
	max-height: 600px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.firstScreen button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #0044ff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .firstScreen button:hover {background-color: #006eff}
  
  .firstScreen button:active {
	background-color: #0026ff;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }	

  .secondScreen {
	background-color: #d9c389;
	margin:0 10vw;
	min-height: 100vh;
	max-height: 95%;
  }

  
 .img-dog{
	max-height: 40vh;
  }
  
.thirdScreen{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

  .thirdScreen button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #0044ff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin-top: 2%;
  }
  
  .thirdScreen button:hover {background-color: #006eff}
  
  .thirdScreen button:active {
	background-color: #0026ff;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }	

  @media screen and (max-width: 1000px) {
	.secondScreen {
	  margin: 0 0;
	}
  } 